

.circle-container {
    display: inline-block;
    
  }

  .circle:hover {
    cursor: url('poop3.png'), auto;
    background: none;
  }


  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem;
   box-shadow: 0 0 5px black;
  
  }

  .circle.active {
    background: url('trump.png') no-repeat center center/cover;
  }