.btn-np {
    margin: 2rem auto;
    background: rgb(213, 47, 255);
    color: white;
}

.form {
    width: 70%;
    margin: 2rem 5rem;
}

.input {
    border: 1px solid black;
    margin-bottom: 1rem;
}