@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
  background: bisque;
  margin: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
}

.icon{
  margin-left: 10px;
  color: rgb(131, 44, 131);
}