

body {
  background: url("https://source.unsplash.com/cJljbGYLTAI") no-repeat center/cover;
 
  font-family: roboto;

}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  


}

.likes {
  background: rgba(231, 54, 172, 0.8);
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;
  box-shadow: 0 0 5px black;

 
}

button {
  background-color: rgba(90, 201, 90, 0.8);
  padding: 10px;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  border:none;

  margin: 2rem;
  margin-bottom: 5rem;
}

.even {
  background: rgb(113, 113, 163);
  color: white;
}

.odd {
  background: rgb(221, 139, 181);
}