
button {
    background: greenyellow;
    box-shadow: 0 0 5px grey;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin: 15px;
   
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
  
  }