

body {
  background: cyan;
  font-family: roboto;

}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  


}

.likes {
  background: cyan;
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;

 
}

button {
  background-color: rgb(90, 201, 90);
  padding: 10px;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid black;
  margin: 2rem;
  margin-bottom: 5rem;
}

.even {
  background: rgb(113, 113, 163);
  color: white;
}

.odd {
  background: rgb(221, 139, 181);
}