@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  background: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12) no-repeat fixed;
font-family: 'Merienda', cursive;
  font-size: 24px;
  


}
