body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: burlywood;      
}

.card {
    background-color: rgba(03, 03, 03, 0.3);
    width: 30%;
    margin: 2px;
    padding: 1rem 2rem;
    line-height: 1.2rem;
    border-radius: 5px;
    color: white;
}