

.circle-container {
    display: inline-block;
    
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem;
   box-shadow: 0 0 5px black;
  
  }

  .circle.active {
    background: url('https://source.unsplash.com/k2U2SlK6tbM');
    background-size:cover;
     background-position: center center;
     background-repeat: no-repeat;
  }